

body {

}
/* Hpmepage jumotron */
#home {
    background: url("images/pizza-olives.jpg");
    background-size: cover; 

    background-position: center;
    background-repeat: no-repeat;
    background-color: darkgray;
}

#lineHome {
    width: 50%;
    border: 1.3px rgb(190, 190, 190) solid;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Navbar */


 
.navbar-dark .navbar-nav .nav-link {
	font-size: 1.5rem;
    font-weight: 500;
    color: lightgrey;
    padding: 30px;
} 

.navbar-dark .nav-item:active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
        color: red ;
}

#pizzaSlice {
    margin-right: 10px;
}

    /*hamburger*/
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,203);
  } 


/* Typography */

.display-1 {
    font-weight: 500;
    padding: 30px;
    
    color: white;
    font-family: Georgia, serif;
    }

.display-4 {
    font-weight: 400;
    padding-bottom: 20px;
    color: white;
    font-family: Georgia, serif;
}

.sMedia {
    list-style-type: none;
    padding-left: 0;
}

.mediaIcons {
    font-size: 3rem;
    margin: 10px;
    
}

.fa-linkedin {
    color: rgb(40,103,178);
}

.fa-twitter-square {
    color: rgb(29,161,242);
}

.fa-facebook-square {
    color: rgb(66,103,178);
}


/* Footer */

footer {

    bottom: 0;
    width: 100%;
}

footer .container {
    padding-top: 15px;
    margin-top: 30px;
}

.footerList {
    list-style-type: none;
    font-size: 1rem;
    padding: 0;
    color: white;
}

.footerList li a {
    color: white;
    
}

.footerList li a:hover {
    color: pink;
}

#lineFooter {
    border: white 0.5px solid;
}

.footer-copyright {
    color: white;
}